<p style="color: green"><%= notice %></p>

<%= render @wiki_article %>

<div>
  <%= link_to "Edit this wiki article", edit_wiki_article_path(@wiki_article) %> |
  <%= link_to "Back to wiki articles", wiki_articles_path %>

  <%= button_to "Destroy this wiki article", @wiki_article, method: :delete %>
</div>
